# Introducción a las listas

## Crear

Para crear una lista, asigne una secuencia de valores a una variable. Cada valor está separado por una coma y rodeado por corchetes ([]):

In [19]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## Acceder a elementos de lista por índice
* También puedes modificar los valores de una lista mediante un índice.

In [20]:
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])
print('The quarter planet is', planets[3])

The first planet is Mercury
The second planet is Venus
The third planet is Earth
The quarter planet is Mars

In [21]:
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])

Mars is also known as Red Planet

>### Índices negativos
Los índices negativos comienzan al final de la lista y trabajan hacia atrás.

In [22]:
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

## Determinar la longitud de una lista
>### len
Para obtener la longitud de una lista, utilice está función integrada.

In [23]:
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

## Agregar valores a listas
Para agregar un elemento a una lista, utilice el método:
>### .append(value).

In [24]:
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')
print('The new planet now is ' + planets[8])

There are actually 9 planets in the solar system.
The new planet now is Pluto

In [1]:
# Creamos la variable que almacena el texto
user_input = ''
# Creamos la lista que almacena cada uno de los textos que el usuario ingresa
inputs = []

# Ciclo while
while user_input.lower() != 'done':
    # Verificamos si hay un valor en user_input
    if user_input:
        # Almacenamos ese valor en la lista
        inputs.append(user_input)
    # Capturamos un nuevo valor
    user_input = input('Enter a new value, or done when done')

# Imprimimos los elementos de la lista
print(inputs)

['1', '2', '3', '4', '5']

## Eliminar valores de una lista
Puedes eliminar el último elemento de una lista llamando al método 
>### .pop()

In [25]:
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 8 planets in the solar system.

## Buscar un valor en una lista
Para determinar en qué parte de una lista se almacena un valor, utilizamos el método:
>### index()
* Este método busca el valor y devuelve el índice de ese elemento en la lista.
* Si no encuentra una coincidencia, devuelve -1.

In [26]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

## Trabajar con números en listas
En esta lista, gravity_on_planets[0] está la gravedad en Mercurio (0.378 G), gravity_on_planets[1] es la gravedad en Venus (0.907 G), y así sucesivamente.

In [27]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

En la Tierra, un autobús de dos pisos pesa 12,650 kilogramos (kg).  
  
En el siguiente ejemplo, puedes calcular el peso de un bus de dos pisos en diferentes planetas obteniendo el valor de la lista:

In [28]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

### min()
Devuelve el número más pequeño de una lista.

In [29]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg

### max()
Devuelve el número más grande de una lista.

In [30]:
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

The heaviest a bus would be in the solar system is 29854.0 kg

## Manipular datos de lista
>### slicing
Examina solo una parte de una cadena.
>### sorting
Ordena los elementos de una lista.
>### Slice list
* Un slice crea una nueva lista. No modifica la lista actual.
* Utiliza corchetes, pero en lugar de un solo elemento, tiene los índices inicial y final de los elementos que queremos recuperar de una lista.
* Se crea una nueva lista que comienza en el índice inicial y que termina antes (y no incluye) el índice final.
* Para recuperar de un índice al final de la lista.
>>> New_variable = variable[ índice :   ]

In [31]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [32]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

or

In [33]:
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## Uniendo listas
* Para unir dos listas, utilice el operador (+) con dos listas para devolver una nueva lista.

In [37]:
# Groups of satellites of jupyter
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons_of_jupiter = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons_of_jupiter)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

## Ordenar listas
Para ordenar una lista, utilizamos el método:
>### sort()
>> ¡OJO!:
>>> Al usar este  método, modificas la lista actual.  
_  

>> Ordenará:
>>>* Una lista de cadenas en orden alfabético.
>>>* Una lista de números en orden numérico.
>> ### .sort(reverse=True)
>> Para ordenar una lista en forma inversa.

In [40]:
regular_satellite_moons_of_jupiter.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons_of_jupiter)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [42]:
regular_satellite_moons_of_jupiter.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons_of_jupiter)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']